#cnt_debugger_message {
	width				: 92%;
	background-color	: #F2F4FF;
	border				: 3px solid #CCDAE7;
	border-top-width	: 40px;
	padding				: 10px;
	cursor				: pointer;
	font-family			: courier New;
	font-size			: 12px;
}
#cnt_debugger_message img{
	border				: none;
	float				: right;
	position			: relative;
	top					: -45px;
	right				: -7px;
}
#cnt_debugger_txt {
	max-height			: 550px;
	overflow			: auto;
	width				: 100%;
	margin-top			: -1px;
}