body {
	background-color		: #efefef;
}
#form {
	font-family				: trebuchet MS;
	font-size				: 12px;
	color					: #666666;
	margin					: 50px 0px 0px 200px;
}
#form img {
	border					: none;
}
#form span{
	display					: block;
	width					: 150px;
	float					: left;
}
#form h2 {
	font-size				: 1.1em;
	margin					: 20px 0px 40px 10px;
	color					: #3C00A7;
}
#form fieldset {
	position				: relative;
	padding					: 20px;
	width					: 750px;
	background-color		: white;
}
#form fieldset legend {
	background-color		: #EAEAEA;
	border					: 1px solid #CCCCCC;
	color					: #666666;
	font-size				: 14px;
	font-weight				: 900;
	padding					: 2px 27px;
}
#form fieldset ul {
	list-style-position		: outside;
	list-style-type			: none;
	margin					: 20px 0px 0px 0px;
	overflow				: hidden;
	padding					: 0;
}
#form fieldset ul li{
	color					: #565656;
	margin					: 0px 0px 10px 0px;
	padding					: 0px 0px 0px 0px;
	text-align				: left;

}
#form fieldset ul li i{
	display					: block;
	width					: 16px;
	height					: 16px;
	float					: left;
	margin					: 5px 5px 0px 0px;
}
#form fieldset ul li span{
	display					: block;
	float					: left;
	margin					: 0px 0px 0px 0px;
	padding					: 0px 0px 0px 0px;
	width					: 200px;

}
#form fieldset ul li span img{
	margin					: 0px 10px 0px 0px;
	position				: relative;
	top						: -4px;

}
#form fieldset ul li input[type="text"]{
	color					: #737373;
	border					: 1px solid #ccc;
	width					: 150px;
	height					: 20px;

}
#form fieldset ul li select{
	color					: #737373;
	border					: 1px solid #ccc;
	width					: 150px;

}
#form fieldset ul li textarea{
	color					: #737373;
	border					: 1px solid #ccc;
	font-family				: trebuchet MS;
	font-size				: 12px;
	width					: 150px;
	height					: 70px;

}
#form fieldset b{
	position				: relative;
	top						: -2px;
	margin					: 0px 0px 0px 10px;
	color					: red;
	font-size				: 1.1em;
	font-weight				: normal;
	
}
#form fieldset b img{
	margin					: 0px 5px 0px 5px;	
}
html>/**/body #form fieldset b{

	top						: -1px;
}
#form #melding {
	position				: absolute;
	width					: 330px;
	min-height				: 50px;
	right					: 10px;
	bottom					: 10px;
	padding					: 10px;
	font-size				: 1em;
	font-weight				: bold;
	text-align				: justify;
	overflow				: hidden;
}
html>/**/body #form #melding {
	right					: 30px;
	bottom					: -10px;
}
#form #alert {
	font-size				: 1.1em;
	color					: red;
	position				: absolute;
}
#form .error {
	border					: 4px solid red;
	background-color		: #FFD2D8;
}
#form .success {
	border					: 4px solid green;
	background-color		: #E2FFD2;
}
#form .required {
	/*background-color		: #FFF2F4;*/
}